<?xml version="1.0"?>
<!-- built on default PX4 SITL + MAVROS launch file -->
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle pose -->
    <arg name="x" default="7.5"/>
    <arg name="y" default="-8.5"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(env HOME)/autonomous_drone/warehouse.world"/>
    <arg name="sdf" default="$(env HOME)/autonomous_drone/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>

    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>

    <!-- disable MAVROS TF publishing, use ground truth instead -->
    <param name="mavros/local_position/tf/send" value="false"/>

    <!-- parameters -->
    <arg name="trial_id" default="0"/> 
    <arg name="failure_mode" default="long"/> 
    <arg name="fallback_mode" default="continue"/> 
    <arg name="source" default="{x: 7.5, y: -8.5, z: 2.0}"/>
    <arg name="destination"  default="{x: -15.0, y: 15.0, z: 2.0}"/>

    <!-- rosbag -->
    <!-- pkg: catkin package name, type: executable name, name: custom name of choice (for rosnode) -->
    <!-- <node 
        pkg="rosbag"
        type="record"
        name="rosbag_record"
        output="screen"
        args="-o $(find offboard_control)/bags/trial_$(arg trial_id)_$(arg failure_mode)_$(arg fallback_mode)
            /mavros/state
            /mavros/local_position/pose
            /mavros/local_position/velocity_local
            /mavros/global_position/global
            /mavros/global_position/rel_alt
            /mavros/imu/data
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>        /mavros/setpoint_position/local
            /mavros/setpoint_raw/local
            /mavros/rc/in
            /mavros/manual_control/control
            /mavros/battery
            /mavros/extended_state
            /supervisor/failure_mode
            /supervisor/intermediate_offboard_pose
            /supervisor/completion
            /tf
            /tf_static
            /rosout"/> -->
    <!-- pass parameters to metrics node -->
    <!-- <node pkg="metrics" type="metrics_node" name="metrics_node" output="screen">
        <param name="trial_id" value="$(arg trial_id)"/>
        <param name="failure_mode" value="$(arg failure_mode)"/>
        <param name="fallback_mode" value="$(arg fallback_mode)"/>
        <param name="metrics_path" value="$(find metrics)"/>
    </node> -->

    <node pkg="supervisor" type="supervisor_node" name="supervisor_node" output="screen">
        <param name="fallback_mode" value="$(arg fallback_mode)"/>
        <param name="source" value="$(arg source)" />
        <param name="destination" value="$(arg destination)" />
    </node>

    <!-- set COM_RC_LOSS_T and COM_DL_LOSS_T values to isolate supervisor behavior from PX4 firmware failsafes -->
    <!-- waits for MAVROS connection before setting -->
    <!-- set PX4 failsafe timeouts - waits for MAVROS connection before setting -->
    <node pkg="offboard_control" type="set_px4_params.py" name="set_px4_params" output="screen"/>
    <node pkg="offboard_control" type="offboard_control_node" name="offboard_control_node" output="screen"/>
    <node pkg="rtl" type="rtl_node" name="rtl_node" output="screen"/>
    
    <node pkg="planner" type="planner_node" name="planner_node" output="screen"/>

    <!--  rviz -->
    <arg name="rviz" default="true"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find offboard_control)/velodyne.rviz" />

    <!-- static transform from base_link to velodyne -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_tf" args="0 0 0.1227 0 0 0 base_link velodyne"/>

    <!-- copied from octo_server's octomap_mapping.launch -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.2" />
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="20.0" />
		<!-- remap topic to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/velodyne_points" />
        <!-- ignore floor returns -->
        <param name="occupancy_min_z" value="0.2" /> 
	</node>
    
    <node pkg="mapping_control" type="mapping_control_node" name="mapping_control_node" output="screen"/>

</launch>
